<div th:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Produits</h1>
        <div class="mb-4 d-flex justify-content-end">
            <a th:href="@{/produits/nouveau}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Ajouter un produit
            </a>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i> Inventaire des produits
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Fournisseur</th>
                        <th>Prix Achat</th>
                        <th>Prix Vente</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${produits}">
                        <td th:text="${p.reference}" class="fw-bold text-primary"></td>
                        <td th:text="${p.nom}"></td>
                        <td>
                            <span class="badge bg-secondary" th:text="${p.categorie != null ? p.categorie.nom : 'Sans catégorie'}"></span>
                        </td>
                        <td>
                            <span th:text="${p.fournisseur != null ? p.fournisseur.nom : 'Non défini'}" class="text-muted small"></span>
                        </td>
                        <td th:text="${p.prixAchat + ' GNF'}"></td>
                        <td th:text="${p.prixVente + ' GNF'}"></td>
                        <td>
                                <span th:text="${p.quantite}"
                                      th:class="${p.quantite <= 5} ? 'badge bg-danger badge-sm' : 'badge bg-success badge-sm'">
                                </span>
                        </td>
                        <td>
                            <a th:href="@{/produits/modifier/{id}(id=${p.id})}" class="btn btn-warning btn-sm me-2">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{/produits/supprimer/{id}(id=${p.id})}"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Supprimer ?')">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>