<div th:fragment="content">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center my-4">Modifier la Categorie</h3>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/categories/modifier/{id}(id=${categorie.id})}" th:object="${categorie}" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputNom" type="text" th:field="*{nom}" placeholder="Nom de la categorie" required />
                                            <label for="inputNom">Nom de la categorie</label>
                                            <div class="text-danger small mt-2"
                                                 th:if="${#fields.hasErrors('nom')}"
                                                 th:errors="*{nom}"></div>
                                        </div>

                                        <div class="mt-4 mb-0">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-warning btn-block">Mettre a jour la categorie</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a th:href="@{/categories}">Retour a la liste</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
