<div th:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Clients</h1>
        <div class="mb-4 d-flex justify-content-end">
            <a th:href="@{/clients/nouveau}" class="btn btn-primary">
                <i class="fas fa-user-plus"></i> Nouveau Client
            </a>
        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-users me-1"></i> Répertoire Clients</div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${clients}">
                        <td th:text="${c.nom}" class="fw-bold"></td>
                        <td th:text="${c.telephone}"></td>
                        <td th:text="${c.email}"></td>
                        <td th:text="${c.adresse}"></td>
                        <td>
                            <a th:href="@{/clients/modifier/{id}(id=${c.id})}" class="btn btn-warning btn-sm">Modifier <i class="fas fa-edit"></i></a>
                            <a th:href="@{/clients/supprimer/{id}(id=${c.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Supprimer ce client ?')">Supprimer <i class="fas fa-trash"></i></a>
                            <a th:href="@{/factures/client/{id}(id=${c.id})}" class="btn btn-info btn-sm text-white" title="Voir les factures">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </a>
                            <a th:href="@{/factures/client/{id}/cumule(id=${c.id})}" class="btn btn-primary btn-sm" title="Imprimer la facture cumulee">
                                <i class="fas fa-print"></i>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
